{
  log
}

http://{{ dp_airflow_host }} {
  reverse_proxy 127.0.0.1:19010
}

http://{{ dp_airflow_health_host }} {
  handle_path /airflow {
    rewrite * /airflow-health/
    reverse_proxy 127.0.0.1:19012
  }
}

http://{{ dp_airflow_api_host }} {
  handle /api/v1/* { # only specifically forward REST API to avoid exposing more of Airflow w/o JWT/basic auth
    rewrite /api/v1/* /airflow/{path}
    reverse_proxy 127.0.0.1:19012
  }
}
