init_config:
    service: postgres

instances:
{% for key in db_instances_to_monitor_from_datadog.keys() %}
  - host: "{{ db_instances_to_monitor_from_datadog[key].host }}"
    port: "{{ db_instances_to_monitor_from_datadog[key].port }}"
    username: "datadog"
    password: "{{ db_instances_to_monitor_from_datadog[key].dd_password }}"

    dbm: true

    collect_activity_metrics: true
    collect_default_database: true
    
    custom_queries:
      - metric_prefix: postgresql
        query: SELECT count(*) as idle_connections FROM pg_stat_activity WHERE pid <> pg_backend_pid() AND state IN ('idle', 'idle in transaction', 'idle in transaction (aborted)', 'disabled')
        columns:
        - name: idle_connections
          type: gauge
        tags:
        - query:custom
      - metric_prefix: postgresql
        query: SELECT count(*) as connection_count FROM pg_stat_activity
        columns:
        - name: connection_count
          type: gauge
        tags:
        - query:custom
        
{% endfor %}
